.newsletter {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  padding: 1rem;
}

.btn {
  color: rgb(68, 67, 67);
}

.email-wrapper {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
